{% extends 'shop/layout.html' %}

{%block title%}Cart - AgroShop{%endblock%}

{%block head%}
<style>
    body {
        background-color: #eaeded;
    }

    .cartdivs{
        display: inline-block;
        background-color: #ffffff;
    }

    #cartitemsdiv{
        width: 75%;
        border: 1px solid green;
        margin: 20px 0px 0px 20px;
    }

    #sidedivsholder
    {
        display: inline-block; 
        width: 21%; 
        vertical-align: top;
        margin-left: 16px;
    }
    /* sidedivs */
    #carttotaldiv{
        width: 100%;
        margin-top: 20px;
        border: 1px solid blue;
    }

    #cartrelproductsdiv{
        width: 100%;
        border: 1px solid brown;
        margin-top: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    #cartrelproductsdiv > div > div > div
    {
        font-size: 14px;
        vertical-align: top;
        display: inline-block;
        margin-left: 5px;
        width: fit-content;
    }
    #sideprodanchor:hover{
        color: #c2562e;
    }
    /* end of sidedivs */

    #emptycartimg{
        border-radius: 50%;
        margin-top: 70px;

    }
</style>
{%endblock%}

{% block body %}
    <div style="border: 3px solid black;">
        <div id="cartitemsdiv" class="cartdivs">
            <h3 style="margin: 10px 0px 5px 10px;">Shopping Cart</h3>
            <small style="margin-left: 92.5%;"></small>
            <hr style="margin: 5px auto 16px auto; width: 98%;">
            
            {%for product in cartproducts%}
                <div class="cartdivs" style="width: 100%;">
                    <img src="{{product.image1.url}}" alt="" width="180px" height="180px" style="vertical-align: top; margin-left: 40px;">
                    <div class="cartdivs" style="margin-left: 20px; width: 70%;">
                        <h5 style="display: inline-block;">{{product.productname}}</h5>
                        <span style="float: right;">₹<b style="display: inline-block;">{{product.discountedPrice}}</b></span>
                        <h6>by {{product.soldby}}</h6>
                        <small style="color: green;">In stock</small><br>
                        <small>sold by <a href="{% url 'viewshop' product.uploadedshop.id%}">{{product.uploadedshop.shopname}}</a></small><br>
                        <a href="{% url 'removefromcart' product.id %}"><small>Remove from cart</small></a><br>
                        <a href="{% url 'selectaddressforprod' product.id %}"><button style="width: 160px; margin-top: 5px;" class="btn btn-warning"><i class="fas fa-shopping-bag"></i>&nbsp;Buy Now</button></a>
                    </div>
                    <hr style="width: 98%; margin: 16px auto;">
                </div>
            {%empty%}
            <div class="cartdivs" style="width: 100%; text-align: center;">
                <img id="emptycartimg" src="../../static/emptycart1.png" alt="">
                <h5>Your cart is empty</h5>
                <p style="">Looks like you have not added anything to your cart.<br>Go ahead and explore premium products.</p>
                <a href="{% url 'homepage' %}" style="display:inline-block; margin-bottom: 150px;"><button class="btn btn-success">Explore now</button></a>
            </div>
                
            {%endfor%}
        </div>


        <div id="sidedivsholder">
            <div id="carttotaldiv" class="cartdivs">
                
                    <i class="fas fa-check-circle"  style="vertical-align: top; margin: 18px 0px 0px 15px;"></i>
                    <small style="text-align: left; display: inline-block; width: 80%; margin-top: 15px;">You can buy all the items in your cart at a time by selecting out below checkbox while checkout.</small>
                    
                    <h5 style="margin: 18px 0px 0px 15px;">Subtotal ({{noofitems}} items):   <b>₹{{subtotal}}</b></h5>
                    <input type="checkbox" id="selectall" name="selectall" value="selectall" style="margin: 10px 0px 0px 18px;">
                    <label for="selectall" style="font-size: 14px;"> Select All</label><br>
                    <a href="{% url 'selectaddressforcart' cartobj.id %}"><button class="btn btn-warning" style="width: 80%; margin: 5px auto 20px 35px;">Proceed to Buy</button></a>
            </div>

            <div id="cartrelproductsdiv" class="cartdivs">
                <h5 style="font-size: 14px; margin: 20px 14px 15px 17px;">Some Sponsored Products that you may like to buy</h5>

                <div>
                    {% for product in relatedproducts %}
                    <div>
                        <img src="{{product.image1.url}}" alt="" width="100px" height="100px" style="margin-left: 23px;">
                        <div>
                            <a id="sideprodanchor" href=""><span style="display: inline-block; width: 159px;">{{product.productname}}</span></a><br>
                            <small>by {{product.soldby}}</small><br>
                            <span style="color: #c2562e;">₹{{product.discountedPrice}}</span><br>
                            <a href="{% url 'viewproduct' product.id %}"><small>See all buying options</small></a>
                        </div>
                    </div>
                    <br>
                    {%endfor%}

                </div>
            </div>
        </div>

    </div>
{% endblock %}